<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.conan.demo.mapper.UserMapper">

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into aaa(id, name, flag) values (#{id}, #{name}, #{flag})
    </insert>

    <select id="findOne" parameterType="java.lang.Integer" resultType="com.conan.demo.model.User">
        select * from aaa
        <where>
            <!-- 重复说一下，id 不能是 int，int 默认是 0，不可能是 null, 而 Integer 可以是 null-->
            <if test="id!=null">
                id=#{id}
            </if>
        </where>
    </select>

    <select id="getAllUser" resultType="com.conan.demo.model.User">
        select * from aaa
    </select>

</mapper>